<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
   <link rel="stylesheet" type="text/css"  th:href="@{/styles/default.css}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/default.css" />
   <title>User</title>
    <style>
        .buttonLogout {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 10px;
            cursor: pointer;
        }
        #row{
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>User Information</h1>
    <p>User ID: <span th:text="${user.id}"></span></p>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Password: <span th:text="${user.password}"></span></p>
    <p>Du skapade kontot: <span th:text="${user.create_time}"></span></p>
    <div th:if="${addresses != null and addresses.size() > 0}">
        <h2>Adresser</h2>
        <table>
            <tr>
                <th>Gatuadress</th>
                <th>Gatunummer</th>
                <th>Postnummer</th>
                <th>Post address</th>
                <th>Stad</th>
                <th>Land</th>
            </tr>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.gatuadress}"></td>
                <td th:text="${address.gatunummer}"></td>
                <td th:text="${address.postnr}"></td>
                <td th:text="${address.postadress}"></td>
                <td th:text="${address.stad}"></td>
                <td th:text="${address.land}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${accounts != null and accounts.size() > 0}">
        <div id="row">
            <h2>Konton</h2>
            <form th:if="${user != null}" th:action="@{/createAccount}" method="post">
            <input type="hidden" name="userid" th:value="${user.id}" />
            <button class="button" type="submit" style="padding: 10px 10px;">Skapa nytt konto</button>
            </form>
        </div>
        <table>
            <tr>
                <th>Kontonummer</th>
                <th>Saldo</th>
                <th>Senast använd</th>
            </tr>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.getLastAcess()}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${telephones != null and telephones.size() > 0} ">
        <h2>Telefonnummer</h2>
        <table>
            <tr>
                <th>Mobilnummer</th>
                <th>Hemnummer</th>
            </tr>
            <tr th:each="telephone : ${telephones}">
                <td th:text="${telephone.mobilnummer}"></td>
                <td th:text="${telephone.hemnummer}"></td>
            </tr>
        </table>
    </div>
</div>
<p></p>
<div class="text-center">
    <form th:action="@{/logout}" method="post">
        <button class="buttonLogout" type="submit">Logga ut</button>
    </form>
</div>

</body>
</html>